<footer>
    <section>
        <article class="contact">
            <h5>ჩვენს შესახებ</h5>
            <p>Это текст. Кликните дважды, чтобы отредактировать. Расскажите посетителям сайта о себе, своих услугах и преимуществах.</p>
        </article>
        <article class="social">
            <h5>სოციალური ქსელი</h5>
            <div class="icon">
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-vk"></i></a>
                <a href="#"><i class="fab fa-pinterest-p"></i></a>
            </div>
        </article>
    </section>
</footer>