<main>
    <section class="page">
        <article class="img-area">
            <h4>დღის და ღამის მოვლა სხვადასხვა მიდგომას საჭიროებს, დღის და ღამის პერიოდებში ჩვენს კანს განსხვავებული
                მოთხოვნილებები აქვს.</h4>
            <div class="img">
                <img src="../../../assets/img/page2/img1.webp" alt="">
            </div>
            <h4>ღამე ჩვენი კანი განიცდის განახლების პროცესებს, ადვილად შეიწოვება სასარგებლო ნივთიერებები, ამიტომ ღამის
                კრემის ძირითადი ამოცანა უნდა იყოს კანის მაქსიმალური კვება და გაახალგაზრდავების პროცესების უზრუნველყოფა.
            </h4>
        </article>
        <article class="cards-area">
            <!-- <app-card
            *ngFor="let item of cardsItem" [cardItem]="item"
            routerLink="/item-info"
            ></app-card> -->
        </article>
    </section>
</main>