<main>
    <section>
        <article class="home-text">
            <h2>ნატალი</h2>
            <h3>ნატურალური კოსმეტიკა</h3>
        </article>
        <article class="home-img">
            <aside class="left">
                <article class="top">
                    <div class="care">
                        <h5>სახის კანის მოვლა!!</h5>
                        <a 
                        routerLink="/care"
                        >ვრცლად ></a>
                    </div>
                </article>
                <article class="bottom">
                    <div class="img"><img src="../../../assets/img/home/home-img2.webp" alt=""></div>
                    <p>დღის საცხები</p>
                    <a href="#">ვრცლად  ></a>
                </article>
            </aside>
            <aside class="right">
                <article class="border">
                    <div class="border_second">
                        <div class="img"><img src="../../../assets/img/home/home-img3.webp" alt=""></div>
                        <h5>საღამოს საცხები</h5>
                        <a href="#">ვრცლად ></a>
                    </div>
                </article>
            </aside>
        </article>
    </section>
</main>